/**定义全局样式**/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
.B {
  font-weight: bold;
}
.dfc {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.dfcs {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
}
.dfcc {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
/**定义背景颜色函数**/
/**定义css3函数**/
.header {
  background: #000;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%);
  /*FireFox*/
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%);
  /* Opear */
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
  /*IE10及IE10+*/
  height: 0.9rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.header .con {
  width: 14rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .con .right {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.header .con .logo-box .logo {
  display: block;
  width: 1.49rem;
}
.header .con .nav-search > ul {
  position: relative;
}
.header .con .nav-search > ul .move {
  position: absolute;
  height: 3px;
  width: 0.42rem;
  background-color: #b41d24;
  z-index: 3;
  bottom: -0.12rem;
  content: '';
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
}
.header .con .nav-search > ul > li {
  margin-right: 0.6rem;
}
.header .con .nav-search > ul > li a {
  color: #fefefe;
  font-size: 16px;
}
.header .con .nav-search > ul > li a:hover,
.header .con .nav-search > ul > li a.on {
  color: #b41d24;
}
.header .con .nav-search .search-box {
  margin-top: 1px;
  cursor: pointer;
}
.header .con .nav-search .search-box .search-con {
  position: absolute;
  width: 4.5rem;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 0.15rem;
  display: none;
}
.header .con .nav-search .search-box .search-con input {
  display: inline-block;
  width: 75%;
  height: 40px;
  color: #000000;
  font-size: 13px;
  padding: 6px 12px;
  line-height: 1;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e6e6e6;
}
.header .con .nav-search .search-box .search-con .sure {
  display: inline-block;
  width: 20%;
  height: 40px;
  line-height: 40px;
  margin-left: 3%;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #b41d24;
  font-size: 14px;
}
.index-banner .banner {
  display: block;
  width: 100%;
}
.index-banner .swiper-pagination {
  bottom: 0.2rem;
}
.index-banner .swiper-pagination-bullet {
  width: 0.23rem;
  height: 0.04rem;
  background-color: #ffffff;
  border-radius: 0;
  opacity: 1;
}
.index-banner .swiper-pagination-bullet-active {
  background-color: #b41d24;
  opacity: 1;
}
.index-big-ground {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.index-customized {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}
.index-customized .con-box {
  width: 14rem;
  margin: 0 auto;
}
.index-customized .con-box .title {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.index-customized .con-box .title:before {
  position: absolute;
  content: '';
  width: 1.6rem;
  height: 1px;
  background-color: #b41d24;
  left: 50%;
  bottom: -0.2rem;
  margin-left: -0.8rem;
  z-index: 3;
}
.index-customized .con-box .title em {
  font-size: 0.36rem;
  color: #b41d24;
  text-transform: uppercase;
  line-height: 0.36rem;
  margin-right: 0.14rem;
  margin-top: 4px;
}
.index-customized .con-box .title span {
  font-size: 0.32rem;
  color: #ffffff;
  line-height: 0.36rem;
}
.index-customized .con-box > p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  max-width: 8.85rem;
  margin: 0.35rem auto 0;
}
.index-customized .con-box .more {
  display: block;
  width: 1.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  border: 1px solid #ffffff;
  font-size: 16px;
  color: #ffffff;
  margin: 0.2rem auto;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
}
.index-customized .con-box .more:hover {
  background-color: #b41d24;
  border-color: #b41d24;
}
.index-customized .con-box .list {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.index-customized .con-box .list li {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 25%;
  height: 2.2rem;
  background-color: rgba(51, 51, 51, 0.8);
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
}
.index-customized .con-box .list li:hover {
  background-color: #b41d24;
}
.index-customized .con-box .list li:hover h4:before {
  background-color: #ffffff;
}
.index-customized .con-box .list li img {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin: 0.3rem auto 0.12rem;
  border: 2px solid #b41d24;
}
.index-customized .con-box .list li h4 {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 0.15rem;
}
.index-customized .con-box .list li h4:before {
  content: '';
  width: 2.78rem;
  height: 1px;
  background-color: #747474;
  position: absolute;
  left: 50%;
  bottom: -0.08rem;
  margin-left: -1.39rem;
  z-index: 2;
}
.index-customized .con-box .list li p {
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}
.index-case {
  position: relative;
  margin-bottom: 0.8rem;
}
.index-case .top-box {
  text-align: center;
}
.index-case .top-box .title {
  text-align: center;
}
.index-case .top-box .title h2 {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.index-case .top-box .title h2 em {
  font-size: 0.36rem;
  line-height: 0.55rem;
  color: #b41d24;
  margin-right: 0.1rem;
  text-transform: uppercase;
}
.index-case .top-box .title h2 span {
  font-size: 0.32rem;
  color: #ffffff;
}
.index-case .top-box .title p {
  font-size: 20px;
  line-height: 30px;
  position: relative;
  color: #ffffff;
  display: inline-block;
  padding: 0 0.83rem;
}
.index-case .top-box .title p:before {
  width: 0.68rem;
  height: 1px;
  content: '';
  background-color: #b41d24;
  left: 0;
  top: 50%;
  z-index: 2;
  position: absolute;
}
.index-case .top-box .title p:after {
  width: 0.68rem;
  height: 1px;
  content: '';
  background-color: #b41d24;
  right: 0;
  top: 50%;
  z-index: 2;
  position: absolute;
}
.index-case .top-box .tab {
  display: inline-block;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
.index-case .top-box .tab li {
  width: 1.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  cursor: pointer;
}
.index-case .top-box .tab li:hover,
.index-case .top-box .tab li.on {
  background-color: #b41d24;
  border-color: #b41d24;
}
.index-case .list {
  position: relative;
}
.index-case .list:after {
  content: '';
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-top: 0.17rem solid;
  border-right: 0.17rem solid transparent;
  border-left: 0.17rem solid transparent;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -0.16rem;
}
.index-case .list > li {
  border-top: 0.04rem solid #000;
  border-left: 0.04rem solid #000;
}
.index-case .list > li ul {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
}
.index-case .list > li ul li {
  position: relative;
  border-right: 0.04rem solid #000;
  border-bottom: 0.04rem solid #000;
  overflow: hidden;
  cursor: pointer;
}
.index-case .list > li ul li:hover p {
  bottom: -0.01rem;
}
.index-case .list > li ul li:hover img {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
}
.index-case .list > li ul li:nth-child(1),
.index-case .list > li ul li:nth-child(3) {
  width: 4.78rem;
  height: 5.6rem;
}
.index-case .list > li ul li:nth-child(2) {
  width: 9.6rem;
  height: 5.6rem;
}
.index-case .list > li ul li:nth-child(n+4) {
  width: 25%;
  height: 3.2rem;
}
.index-case .list > li ul li img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease 0s;
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -ms-transition: transform 0.3s ease 0s;
}
.index-case .list > li ul li p {
  position: absolute;
  width: 100%;
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
  background-color: rgba(179, 30, 35, 0.9);
  font-size: 18px;
  color: #ffffff;
  left: 0;
  bottom: -100%;
  transition: bottom 0.3s ease 0s;
  -webkit-transition: bottom 0.3s ease 0s;
  -moz-transition: bottom 0.3s ease 0s;
  -ms-transition: bottom 0.3s ease 0s;
}
.index-product .title {
  text-align: center;
  margin-bottom: 0.24rem;
}
.index-product .title span {
  position: relative;
  padding: 0 0.8rem;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  color: #333333;
}
.index-product .title span:before,
.index-product .title span:after {
  content: '';
  position: absolute;
  width: 0.68rem;
  height: 1px;
  background-color: #b41d24;
  left: 0;
  top: 50%;
}
.index-product .title span:after {
  left: auto;
  right: 0;
}
.index-product .swiper-container {
  background-size: cover;
  background-repeat: no-repeat;
}
.index-product .swiper-container .swiper-slide .product-box {
  position: relative;
}
.index-product .swiper-container .swiper-slide .product-box:hover > img {
  -webkit-filter: blur(0px);
  /* Chrome, Opera */
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.index-product .swiper-container .swiper-slide .product-box:hover .to {
  background-color: rgba(0, 0, 0, 0.6);
}
.index-product .swiper-container .swiper-slide .product-box:hover .to h1 {
  background-color: #b41d24;
  margin-top: 1.2rem;
}
.index-product .swiper-container .swiper-slide .product-box:hover .to h1:after {
  background-color: #b41d24;
}
.index-product .swiper-container .swiper-slide .product-box:hover .to img.show {
  display: none;
}
.index-product .swiper-container .swiper-slide .product-box:hover .to img.hide {
  display: block;
}
.index-product .swiper-container .swiper-slide .product-box > img {
  display: block;
  width: 100%;
  -webkit-filter: blur(2px);
  /* Chrome, Opera */
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.index-product .swiper-container .swiper-slide .product-box .to {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
}
.index-product .swiper-container .swiper-slide .product-box .to a {
  display: block;
  height: 100%;
  overflow: hidden;
}
.index-product .swiper-container .swiper-slide .product-box .to h1 {
  width: 0.97rem;
  height: 0.97rem;
  text-align: center;
  line-height: 0.97rem;
  color: #ffffff;
  font-size: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  margin-bottom: 0.55rem;
  margin-top: 1.7rem;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.index-product .swiper-container .swiper-slide .product-box .to h1:after {
  content: '';
  position: absolute;
  width: 0.64rem;
  height: 2px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -0.32rem;
  bottom: -0.2rem;
}
.index-product .swiper-container .swiper-slide .product-box .to h6 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #ffffff;
  padding-left: 0.18rem;
  text-transform: uppercase;
}
.index-product .swiper-container .swiper-slide .product-box .to p {
  font-size: 24px;
  height: 50px;
  color: #ffffff;
  padding-left: 0.18rem;
}
.index-product .swiper-container .swiper-slide .product-box .to img {
  display: block;
  width: 0.39rem;
  height: 0.39rem;
  border-radius: 50%;
  margin-left: 0.18rem;
  margin-top: 0.5rem;
}
.index-product .swiper-container .swiper-slide .product-box .to img.hide {
  display: none;
}
.index-product .swiper-container .product-op {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  padding: 0.16rem 0 1rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.index-product .swiper-container .swiper-pagination {
  position: static;
  margin: 0 0.98rem;
}
.index-product .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
  margin-right: 0.15rem;
}
.index-product .swiper-container .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.index-product .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b41d24;
}
.index-product .swiper-container .swiper-button-next,
.index-product .swiper-container .swiper-button-prev {
  position: static;
  margin-top: 0;
  background-size: cover;
  width: 0.16rem;
  height: 0.31rem;
}
.index-team {
  background-repeat: no-repeat;
  background-size: cover;
  height: 10.7rem;
}
.index-team .swiper-box {
  position: relative;
  height: 4.8rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.index-team .con-box {
  width: 14rem;
  position: absolute;
  left: 50%;
  margin-left: -7rem;
  top: -0.5rem;
  z-index: 3;
  height: 5.4rem;
}
.index-team .con-box .gallery-top {
  height: 100%;
  padding: 0 0.7rem;
}
.index-team .con-box .gallery-top .swiper-wrapper {
  width: 12.6rem;
  margin: 0 auto;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a img {
  width: 3.37rem;
  height: 5.33rem;
  flex-shrink: 0;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details {
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .name h2 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #333333;
  margin-bottom: 0.3rem;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .name h2 span {
  position: relative;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .name h2 span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #b41d24;
  left: 0;
  bottom: -0.2rem;
  z-index: 3;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .name ul li {
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op {
  text-align: right;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 em {
  font-size: 0.36rem;
  color: #b41d24;
  text-transform: uppercase;
  margin-right: 0.12rem;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 span {
  font-size: 0.32rem;
  color: #000;
}
.index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op > span {
  width: 1.28rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  color: #b41d24;
  font-size: 16px;
  border: 1px solid #b41d24;
  display: inline-block;
  margin-top: 0.25rem;
}
.index-team .con-box .gallery-top .swiper-button-next {
  left: auto;
  right: 0;
}
.index-team .con-box .gallery-top .swiper-button-prev {
  left: 0;
}
.index-team .con-box .gallery-thumbs {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  height: 1rem;
  width: 5rem;
}
.index-team .con-box .gallery-thumbs .swiper-slide {
  cursor: pointer;
}
.index-team .con-box .gallery-thumbs .swiper-slide.swiper-slide-thumb-active img {
  border: 0.02rem solid #b41d24;
}
.index-team .con-box .gallery-thumbs .swiper-slide img {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.02rem solid transparent;
}
.index-partner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.77rem;
  background-attachment: fixed;
}
.index-partner .con-box {
  width: 14rem;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.index-partner .con-box .news-box {
  position: absolute;
  width: 100%;
  left: 0;
  top: -5.1rem;
  z-index: 3;
}
.index-partner .con-box .news-box .title {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.index-partner .con-box .news-box .title em {
  font-size: 0.36rem;
  color: #b41d24;
  margin-right: 0.12rem;
  text-transform: uppercase;
}
.index-partner .con-box .news-box .title span {
  font-size: 0.32rem;
  color: #333333;
}
.index-partner .con-box .news-box .nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem auto;
}
.index-partner .con-box .news-box .nav li {
  width: 1.5rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  font-size: 16px;
  color: #333333;
  border: 1px solid #ddd;
  cursor: pointer;
}
.index-partner .con-box .news-box .nav li.on {
  background-color: #b41d24;
  color: #ffffff;
}
.index-partner .con-box .news-box .details {
  padding: 0 0.2rem;
}
.index-partner .con-box .news-box .details > li {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
}
.index-partner .con-box .news-box .details > li .big-img {
  width: 4.7rem;
  height: 4.9rem;
  border: 1px solid #ddd;
  background-color: #ffffff;
  flex-shrink: 0;
}
.index-partner .con-box .news-box .details > li .big-img img {
  width: 4.3rem;
  display: block;
  margin: 0.2rem auto 0.1rem;
}
.index-partner .con-box .news-box .details > li .big-img p {
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding: 0 0.2rem;
}
.index-partner .con-box .news-box .details > li .big-img h2 {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0.2rem;
}
.index-partner .con-box .news-box .details > li .list li {
  width: 8.7rem;
  border: 1px solid #ddd;
  height: 1.5rem;
  background-color: #ffffff;
  margin-bottom: 0.2rem;
}
.index-partner .con-box .news-box .details > li .list li:last-child {
  margin-bottom: 0;
}
.index-partner .con-box .news-box .details > li .list li:hover {
  border-color: #b41d24;
}
.index-partner .con-box .news-box .details > li .list li:hover a .time .text h2 {
  color: #b41d24;
}
.index-partner .con-box .news-box .details > li .list li:hover a .time .text p {
  color: #b41d24;
}
.index-partner .con-box .news-box .details > li .list li:hover a .time .date:before {
  background-color: #b41d24;
}
.index-partner .con-box .news-box .details > li .list li:hover a .time .date h2 {
  color: #b41d24;
}
.index-partner .con-box .news-box .details > li .list li:hover a .time .date p {
  color: #b41d24;
}
.index-partner .con-box .news-box .details > li .list li a {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.index-partner .con-box .news-box .details > li .list li a > img {
  width: 1.52rem;
  margin-right: 0.3rem;
  margin-left: 0.2rem;
  flex-shrink: 0;
}
.index-partner .con-box .news-box .details > li .list li a .time {
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
}
.index-partner .con-box .news-box .details > li .list li a .time .text {
  flex-grow: 1;
  min-width: 0;
  padding-right: 0.2rem;
}
.index-partner .con-box .news-box .details > li .list li a .time .text h2 {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  color: #333333;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-partner .con-box .news-box .details > li .list li a .time .text p {
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.index-partner .con-box .news-box .details > li .list li a .time .date {
  width: 1rem;
  flex-shrink: 0;
  text-align: center;
  position: relative;
}
.index-partner .con-box .news-box .details > li .list li a .time .date:before {
  content: '';
  background-color: #dddddd;
  width: 1px;
  height: 0.96rem;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}
.index-partner .con-box .news-box .details > li .list li a .time .date h2 {
  font-size: 0.34rem;
  color: #999999;
  font-weight: bold;
}
.index-partner .con-box .news-box .details > li .list li a .time .date p {
  font-size: 16px;
  color: #999999;
  line-height: 24px;
}
.index-partner .con-box .partner-box {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
.index-partner .con-box .partner-box .to {
  width: 4.42rem;
  height: 3.3rem;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.45rem 0.7rem 0 0.6rem;
}
.index-partner .con-box .partner-box .to h2 {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  margin-bottom: 0.1rem;
}
.index-partner .con-box .partner-box .to h2 em {
  color: #b41d24;
  font-size: 0.36rem;
  text-transform: uppercase;
}
.index-partner .con-box .partner-box .to h2 span {
  font-size: 0.32rem;
  color: #ffffff;
}
.index-partner .con-box .partner-box .to p {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.index-partner .con-box .partner-box .to a {
  width: 1.28rem;
  height: 0.4rem;
  text-align: center;
  display: block;
  line-height: 0.4rem;
  border: 1px solid #ffffff;
  font-size: 16px;
  color: #ffffff;
  margin-top: 0.5rem;
}
.index-partner .con-box .partner-box .to a:hover {
  border-color: #b41d24;
  background-color: #b41d24;
  color: #ffffff;
}
.index-partner .con-box .partner-box .parter {
  flex-grow: 1;
  min-width: 0;
  height: 3.3rem;
  padding: 0 0.56rem;
  position: relative;
}
.index-partner .con-box .partner-box .parter .swiper-container {
  padding-bottom: 0.7rem;
}
.index-partner .con-box .partner-box .parter .swiper-container .swiper-slide {
  margin-bottom: 0.25rem;
}
.index-partner .con-box .partner-box .parter .swiper-container .swiper-slide:nth-child(2n+2) {
  margin-bottom: 0;
}
.index-partner .con-box .partner-box .parter .swiper-container .swiper-slide img {
  width: 2.68rem;
  height: 1.05rem;
  display: block;
}
.index-partner .con-box .partner-box .parter .swiper-button-prev,
.index-partner .con-box .partner-box .parter .swiper-button-next {
  margin-top: -60px;
}
.index-partner .con-box .partner-box .parter .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}
.index-partner .con-box .partner-box .parter .swiper-pagination-bullet-active {
  background-color: #b41d24;
}
.footer {
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .con-box {
  width: 14rem;
  margin: 0 auto;
}
.footer .con-box .link {
  padding: 0.4rem 0;
  border-bottom: 1px solid #777;
}
.footer .con-box .link p {
  font-size: 16px;
  line-height: 32px;
  color: #000;
}
.footer .con-box .link p a {
  color: #000;
  margin-right: 0.25rem;
}
.footer .con-box .footer-nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
}
.footer .con-box .footer-nav .address .list {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  padding: 0.3rem 0 0.35rem;
  border-bottom: 1px solid #888;
}
.footer .con-box .footer-nav .address .list li {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  margin-right: 0.45rem;
  border-right: 1px solid #888;
}
.footer .con-box .footer-nav .address .list li:last-child {
  margin-right: 0;
}
.footer .con-box .footer-nav .address .list li img {
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 0.08rem;
}
.footer .con-box .footer-nav .address .list li p {
  font-size: 16px;
  color: #000;
  padding-right: 0.5rem;
}
.footer .con-box .footer-nav .address .nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.45rem;
}
.footer .con-box .footer-nav .address .nav li {
  margin-right: 0.12rem;
}
.footer .con-box .footer-nav .address .nav li:last-child a:after {
  display: none;
}
.footer .con-box .footer-nav .address .nav a {
  font-size: 16px;
  color: #000;
  line-height: 30px;
}
.footer .con-box .footer-nav .address .nav a:hover {
  color: #b41d24;
}
.footer .con-box .footer-nav .address .nav a:after {
  content: '/';
  margin-left: 0.12rem;
}
.footer .con-box .footer-nav .ewm {
  margin-right: 0.95rem;
}
.footer .con-box .footer-nav .ewm img {
  width: 1.33rem;
  height: 1.33rem;
  display: block;
  margin: 0 auto;
}
.footer .con-box .footer-nav .ewm p {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  text-align: center;
}
.footer .copyright {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 14px;
  color: #000;
  border-top: 1px solid #888;
}
.Totop {
  position: fixed;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index: 99;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  display: none;
}
.Totop img {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
@media (max-width: 1400px) {
  .index-customized .con-box .list li h4 {
    font-size: 16px;
    line-height: 25px;
  }
  .index-customized .con-box .list li p {
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .index-case .top-box .title p {
    font-size: 18px;
    line-height: 25px;
  }
  .index-case .top-box .tab {
    margin-top: 0.2rem;
  }
  .index-case .top-box .tab li {
    height: 0.5rem;
    line-height: 0.5rem;
  }
  .index-product .swiper-container .swiper-slide .product-box .to p {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details {
    padding-left: 0.5rem;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .name ul li {
    font-size: 16px;
    line-height: 25px;
  }
  .index-partner .con-box .news-box .nav li {
    line-height: 0.36rem;
    font-size: 14px;
  }
  .index-partner .con-box .news-box .details > li .big-img h2 {
    font-size: 16px;
    line-height: 30px;
  }
  .index-partner .con-box .news-box .details > li .big-img p {
    font-size: 14px;
    line-height: 25px;
  }
  .index-partner .con-box .news-box .details > li .list li a .time .text h2 {
    font-size: 16px;
    line-height: 30px;
  }
  .index-partner .con-box .news-box .details > li .list li a .time .text p {
    font-size: 14px;
    line-height: 25px;
  }
  .index-partner .con-box .news-box .details > li .list li a .time .date p {
    font-size: 14px;
  }
  .index-partner .con-box .partner-box .to p {
    font-size: 14px;
    line-height: 25px;
  }
  .index-partner .con-box .partner-box .to a {
    font-size: 14px;
  }
  .index-partner .con-box .partner-box .parter .swiper-button-next,
  .index-partner .con-box .partner-box .parter .swiper-button-prev {
    margin-top: -40px;
    width: 20px;
    height: 30px;
    background-size: cover;
  }
  .footer .con-box .footer-nav .ewm {
    margin-right: 0;
  }
  .footer .con-box .footer-nav .ewm p {
    font-size: 14px;
    line-height: 25px;
  }
  .footer .con-box .footer-nav .address .nav a {
    font-size: 16px;
    line-height: 25px;
  }
  .footer .con-box .link p {
    line-height: 30px;
  }
}
@media (max-width: 1280px) {
  .header {
    height: 1rem;
  }
  .header .con .nav-search > ul > li {
    margin-right: 0.5rem;
  }
  .index-customized .con-box > p {
    font-size: 16px;
    max-width: 9rem;
  }
  .index-customized .con-box .list li img {
    margin: 0.2rem auto 0.12rem;
  }
  .index-case .list > li ul li p {
    font-size: 16px;
  }
  .index-product .title span {
    font-size: 18px;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 em {
    font-size: 0.32rem;
    margin-right: 0.06rem;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 span {
    font-size: 0.3rem;
  }
  .index-partner .con-box .news-box .details > li .big-img p {
    line-height: 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 1.2rem;
  }
  .header .con .nav-search > ul > li a {
    font-size: 14px;
  }
  .header .con .nav-search .search-box .search-con {
    width: 7rem;
  }
  .index-customized .con-box > p {
    font-size: 14px;
    max-width: 12rem;
  }
  .index-customized .con-box .more {
    width: 100px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
  }
  .index-customized .con-box .list li h4 {
    line-height: 20px;
  }
  .index-partner .con-box .news-box .details > li .big-img {
    display: none;
  }
  .index-partner .con-box .news-box .details > li .list {
    width: 100%;
  }
  .index-partner .con-box .news-box .details > li .list li {
    width: 100%;
    padding: 5px 0;
    height: auto;
  }
  .index-partner .con-box .news-box .details > li .list li a .time .date {
    width: 1.5rem;
  }
  .index-partner .con-box .news-box .nav li {
    height: 30px;
    line-height: 28px;
  }
  .index-partner .con-box .partner-box .to {
    display: none;
  }
  .index-partner .con-box .partner-box .parter {
    padding: 0 1.5rem;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details {
    padding-left: 0.5rem;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .name ul li {
    font-size: 14px;
    line-height: 20px;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op > span {
    height: 30px;
    line-height: 28px;
    font-size: 14px;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 em {
    font-size: 14px;
  }
  .index-team .con-box .gallery-top .swiper-wrapper .img-box a .details .to-op h2 span {
    font-size: 14px;
  }
  .footer .con-box .link p {
    font-size: 14px;
    line-height: 25px;
  }
  .footer .con-box .footer-nav .address .list li p {
    font-size: 14px;
    padding-right: 0.2rem;
  }
  .index-product .swiper-container .swiper-button-next,
  .index-product .swiper-container .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header {
    height: 50px;
  }
  .header .con .nav-search > ul {
    display: none;
  }
  .header .con .nav-search .search-box .search-con {
    width: 100%;
  }
  .header .con .logo-box .logo {
    width: 80px;
  }
  .header .menu-handler {
    display: block;
    position: relative;
    right: 0;
    top: 0;
  }
  .index-customized .con-box .list {
    display: none;
  }
  .index-customized .con-box .title em {
    font-size: 18px;
    line-height: 30px;
  }
  .index-customized .con-box .title span {
    font-size: 20px;
    line-height: 30px;
  }
  .index-customized .con-box > p {
    max-width: 90%;
  }
  .index-case .top-box {
    top: -100px;
  }
  .index-case .top-box .title h2 em {
    font-size: 20px;
    line-height: 30px;
  }
  .index-case .top-box .title h2 span {
    font-size: 18px;
  }
  .index-case .top-box .title p {
    font-size: 14px;
  }
  .index-case .top-box .tab li {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .index-case .list > li ul {
    justify-content: center;
  }
  .index-case .list > li ul li:nth-child(n+4) {
    order: 3;
  }
  .index-case .list > li ul li:nth-child(n+6) {
    display: none;
  }
  .index-case .list > li ul li:nth-child(1),
  .index-case .list > li ul li:nth-child(3) {
    order: 1;
  }
}
