/**定义全局样式**/
@fc:#333333;
@mc:#666666;
@sc:#999999;
@nc:#b41d24;
@wc:#ffffff;
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.pf{
    position: fixed;
}
.db{
    display: block;
}
.dn{
    display: none;
}
.dib{
    display: inline-block;
}
.B{
    font-weight: bold;
}
.dfc{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
}
.dfcs{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    justify-content: space-between;
}
.dfcc{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    justify-content:center;
}
/**定义背景颜色函数**/
.bg(@color){
    background-color: @color;
}
/**定义css3函数**/
.trans(@lx,@time,@fx,@yc){
    transition: @lx @time @fx @yc;
    -webkit-transition: @lx @time @fx @yc;
    -moz-transition: @lx @time @fx @yc;
    -ms-transition: @lx @time @fx @yc;
}
.tran(@sx){
    transform: @sx;
    -webkit-transform: @sx;
    -moz-transform: @sx;
    -ms-transform: @sx;
}

.header{
    background: #000;
    background: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4));
    background: -moz-linear-gradient(top,rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.4) 100%);; /*FireFox*/
    background: -o-linear-gradient(top,rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.4) 100%);  /* Opear */
    background: -ms-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)); /*IE10及IE10+*/
    height: 0.9rem;
    width: 100%;
    .pf;
    left: 0;
    top: 0;
    z-index: 9;
    .con{
        width: 14rem;
        height: 100%;
        margin: 0 auto;
        .dfcs;
        .pr;
        .logo-box{
            .logo{
                .db;
                width: 1.49rem;
            }
        }
        .nav-search{
            >ul{
                .pr;
                .move{
                    .pa;
                    height: 3px;
                    width: 0.42rem;
                    .bg(@nc);
                    z-index: 3;
                    left: 0;
                    bottom: -0.12rem;
                    content:'';
                    .trans(all,0.5s,ease,0s);
                }
                >li{
                    margin-right: 0.6rem;
                    a{
                        color: #fefefe;
                        font-size: 16px;
                        &:hover,&.on{
                            color: @nc;
                        }
                    }
                }
            }
            .search-box{
                margin-top:1px;
                cursor: pointer;
                .search-con{
                    .pa;
                    width: 4.5rem;
                    right:0;
                    top:0.9rem;
                    .bg(@wc);
                    padding: 0.15rem;
                    .dn;
                    input{
                        .dib;
                        width:75%;
                        height: 40px;
                        color: #000000;
                        font-size: 13px;
                        padding: 6px 12px;
                        line-height: 1;
                        box-sizing: border-box;
                        background: #ffffff;
                        border: 1px solid #e6e6e6;
                    }
                    .sure{
                        .dib;
                        width: 20%;
                        height: 40px;
                        line-height: 40px;
                        margin-left:3%;
                        text-align: center;
                        cursor: pointer;
                        color: #fff;
                        .bg(@nc);
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.index-banner{
    .banner{
        .db;
        width: 100%;
    }
    .swiper-pagination{
        bottom:0.2rem;
    }
    .swiper-pagination-bullet{
        width:0.23rem;
        height: 0.04rem;
        .bg(@wc);
        border-radius:0;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        .bg(@nc);
        opacity: 1;
    }
}
.index-customized{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 0.5rem;
    padding-bottom: 2.35rem;
    .con-box{
        width: 14rem;
        margin: 0 auto;
        .title{
            text-align: center;
            .dfcc;
            .pr;
            &:before{
                .pa;
                content:'';
                width: 1.6rem;
                height: 1px;
                .bg(@nc);
                left: 50%;
                bottom: -0.2rem;
                margin-left: -0.8rem;
                z-index: 3;
            }
            em{
                font-size: 35px;
                color: @nc;
                text-transform: uppercase;
                line-height: 35px;
                margin-right: 0.14rem;
                margin-top: 4px;
            }
            span{
                font-size: 30px;
                color: @wc;
                line-height: 35px;
            }
        }
        >p{
            font-size: 18px;
            line-height: 30px;
            color: @wc;
            text-align: center;
            max-width: 8.85rem;
            margin: 0.35rem auto 0;
        }
        .more{
            .db;
            width: 1.6rem;
            height: 0.4rem;
            line-height: 0.4rem;
            text-align: center;
            border:1px solid @wc;
            font-size: 16px;
            color: @wc;
            margin: 0.2rem auto;
            .trans(background-color,0.3s,ease,0s);
            &:hover{
                .bg(@nc);
                border-color: @nc;
            }
        }
        .list{
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            li{
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                width: 25%;
                height: 2.2rem;
                background-color: rgba(51,51,51,0.8);
                .trans(background-color,0.3s,ease,0s);
                &:hover{
                    .bg(@nc);
                    h4{
                        &:before{
                            .bg(@wc);
                        }
                    }
                }
                img{
                    .db;
                    width: 0.8rem;
                    height: 0.8rem;
                    border-radius: 50%;
                    margin:0.3rem auto 0.12rem;
                    border:2px solid @nc;
                }
                h4{
                    font-size: 18px;
                    line-height: 30px;
                    color: @wc;
                    .B;
                    text-align: center;
                    .pr;
                    margin-bottom: 0.15rem;
                    &:before{
                        content:'';
                        width: 2.78rem;
                        height: 1px;
                        .bg(#747474);
                        .pa;
                        left: 50%;
                        bottom: -0.08rem;
                        margin-left: -1.39rem;
                        z-index: 2;
                    }
                }
                p{
                    font-size: 16px;
                    color: @wc;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
    }
}
.index-case{
    .pr;
    margin-bottom: 0.8rem;
    .top-box{
        .pa;
        top:-1.8rem;
        width: 100%;
        left: 0;
        text-align: center;
        .title{
            text-align: center;
            h2{
                .dfcc;
                em{
                    font-size: 35px;
                    line-height: 55px;
                    color: @nc;
                    margin-right: 0.1rem;
                    text-transform:uppercase;
                }
                span{
                    font-size: 30px;
                    color: @wc;
                }
            }
            p{
                font-size: 20px;
                line-height: 30px;
                .pr;
                color: @wc;
                .dib;
                padding: 0 0.83rem;
                &:before{
                    width:0.68rem;
                    height: 1px;
                    content:'';
                    .bg(@nc);
                    left: 0;
                    top: 50%;
                    z-index: 2;
                    .pa;
                }
                &:after{
                    width:0.68rem;
                    height: 1px;
                    content:'';
                    .bg(@nc);
                    right: 0;
                    top: 50%;
                    z-index: 2;
                    .pa;
                }
            }
        }
        .tab{
            .dib;
            border-top: 1px solid #555;
            border-left: 1px solid #555;
            margin-top: 0.3rem;
            li{
                width: 1.6rem;
                height: 0.4rem;
                line-height: 0.4rem;
                text-align: center;
                border-right:1px solid #555;
                border-bottom:1px solid #555;
                float: left;
                font-size: 16px;
                color: @wc;
                .bg(#000);
                .trans(background-color,0.3s,ease,0s);
                cursor: pointer;
                &:hover,&.on{
                    .bg(@nc);
                    border-color:@nc;
                }
            }
        }
    }
    .list{
        .pr;
        &:after{
            content:'';
            width: 0px;
            height: 0px;
            vertical-align: middle;
            border-top: 0.17rem solid;
            border-right:0.17rem solid transparent;
            border-left:0.17rem solid transparent;
            .pa;
            left: 50%;
            top:100%;
            margin-left: -0.16rem;
        }
        >li{
            border-top:0.04rem solid #000;
            border-left:0.04rem solid #000;
            ul{
                .dfc;
                flex-wrap: wrap;
                li{
                    .pr;
                    border-right:0.04rem solid #000;
                    border-bottom:0.04rem solid #000;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover{
                        p{
                            bottom: -0.01rem;
                        }
                        img{
                            .tran(scale(1.2,1.2));
                        }
                    }
                    &:nth-child(1),&:nth-child(3){
                        width: 4.78rem;
                        height: 5.6rem;
                    }
                    &:nth-child(2){
                        width:9.6rem;
                        height: 5.6rem;
                        
                    }
                    &:nth-child(n+4){
                        width: 25%;
                        height: 3.2rem;
                    }
                    img{
                        .db;
                        width: 100%;
                        height: 100%;
                        .trans(transform,0.3s,ease,0s);
                    }
                    p{
                        .pa;
                        width: 100%;
                        height: 0.65rem;
                        line-height: 0.65rem;
                        text-align: center;
                        background-color: rgba(179,30,35,0.9);
                        font-size: 18px;
                        color: @wc;
                        left: 0;
                        bottom:-100%;
                        .trans(bottom,0.3s,ease,0s);
                    }
                }   
            }
        }
    }
}
.index-product{
    .title{
        text-align: center;
        margin-bottom: 0.24rem;
        span{
            .pr;
            padding: 0 0.8rem;
            font-size: 20px;
            line-height: 36px;
            .B;
            color: @fc;
            &:before,&:after{
                content:'';
                .pa;
                width: 0.68rem;
                height: 1px;
                .bg(@nc);
                left: 0;
                top:50%;
            }
            &:after{
                left: auto;
                right:0;
            }
        }
    }
    .swiper-container{
        background-size: cover;
        background-repeat: no-repeat;
        .swiper-slide{
            .product-box{
                .pr;
                &:hover{
                    >img{
                        -webkit-filter: blur(0px); /* Chrome, Opera */
                    -moz-filter: blur(0px);
                        -ms-filter: blur(0px);    
                            filter: blur(0px); 
                    }
                    .to{
                        background-color: rgba(0,0,0,0.6);
                        h1{
                            .bg(@nc);
                            margin-top: 1.2rem;
                            &:after{
                                .bg(@nc);
                            }
                        }
                        img{
                            &.show{
                                .dn;
                            }
                            &.hide{
                                .db;
                            }
                        }
                        
                    }
                }
                >img{
                    .db;
                    width: 100%;
                    -webkit-filter: blur(2px); /* Chrome, Opera */
                    -moz-filter: blur(2px);
                        -ms-filter: blur(2px);    
                            filter: blur(2px); 
                }
                .to{
                    .pa;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    left: 0;
                    top: 0;
                    a{
                        .db;
                        height: 100%;
                        overflow: hidden;//防止margin重叠
                    }
                    h1{
                        width: 0.97rem;
                        height: 0.97rem;
                        text-align: center;
                        line-height: 0.97rem;
                        color: @wc;
                        font-size: 0.5rem;
                        background-color: rgba(0,0,0,0.7);
                        .pr;
                        margin-bottom: 0.55rem;
                        margin-top: 1.7rem;
                        .trans(all,0.3s,ease,0s);
                        &:after{
                            content:'';
                            .pa;
                            width: 0.64rem;
                            height: 2px;
                            .bg(@wc);
                            left: 50%;
                            margin-left: -0.32rem;
                            bottom: -0.2rem;
                        }
                    }
                    h6{
                        font-size: 32px;
                        line-height: 50px;
                        color: @wc;
                        padding-left: 0.18rem;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 24px;
                        height: 50px;
                        color: @wc;
                        padding-left: 0.18rem;
                    }
                    img{
                        .db;
                        width: 0.39rem;
                        height: 0.39rem;
                        border-radius: 50%;
                        margin-left: 0.18rem;
                        margin-top: 0.5rem;
                        &.hide{
                            .dn;
                        }
                    }
                }
            }
            
        }
        .product-op{
            .dfcc;
            padding: 0.16rem 0 1rem;
            height: 1.5rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .swiper-pagination{
            position: static;
            margin: 0 0.98rem;
            .swiper-pagination-bullet{
                .bg(@wc);
                opacity: 1;
                margin-right:0.15rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            .swiper-pagination-bullet-active{
                .bg(@nc);
            }
            
        }
        .swiper-button-next, .swiper-button-prev{
            position: static;
            margin-top: 0;
            background-size: cover;
            width: 0.16rem;
            height: 0.31rem;
        }
    }
}
.index-team{
    background-repeat: no-repeat;
    background-size: cover;
    height: 10.7rem;
    .swiper-box{
        .pr;
        height: 4.8rem;
        background-color: rgba(255,255,255,0.6);
    }
    .con-box{
        width: 14rem;
        .pa;
        left: 50%;
        margin-left: -7rem;
        top:-0.5rem;
        z-index: 3;
        height: 5.4rem;
        .gallery-top{
            height: 100%;
            padding: 0 0.7rem;
            .swiper-wrapper{
                width: 12.6rem;
                margin: 0 auto;
                .img-box{
                    a{
                        .dfcs;
                        img{
                            width: 3.37rem;
                            height: 5.33rem;
                            flex-shrink: 0;
                        }
                        .details{
                            flex-grow: 1;
                            .dfcs;
                            padding-left: 0.75rem;
                            .name{
                                h2{
                                    font-size: 32px;
                                    line-height: 50px;
                                    color: @fc;
                                    margin-bottom: 0.3rem;
                                    span{
                                        .pr;
                                        &:after{
                                            content:'';
                                            .pa;
                                            width: 100%;
                                            height: 2px;
                                            .bg(@nc);
                                            left: 0;
                                            bottom: -0.2rem;
                                            z-index: 3;
                                        }
                                    }
                                }
                                ul{
                                    li{
                                        font-size: 18px;
                                        line-height: 32px;
                                        color: @fc;
                                    }
                                }
                            }
                            .to-op{
                                text-align: right;
                                h2{
                                    .dfcc;
                                    em{
                                        font-size: 35px;
                                        color: @nc;
                                        text-transform: uppercase;
                                        margin-right: 0.12rem;
                                    }
                                    span{
                                        font-size: 30px;
                                        color: #000;
                                    }
                                }
                                >span{
                                    width: 1.28rem;
                                    height: 0.4rem;
                                    line-height: 0.4rem;
                                    text-align: center;
                                    color: @nc;
                                    font-size: 16px;
                                    border:1px solid @nc;
                                    .dib;
                                    margin-top: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-next{
                left: auto;
                right:0;
            }
            .swiper-button-prev{
                left: 0;
            }
            
        }
        .gallery-thumbs{
            .pa;
            right:0;
            top:0;
            z-index: 3;
            height: 1rem;
            width: 5rem;
            .swiper-slide{
                cursor: pointer;
                &.swiper-slide-thumb-active{
                    img{
                        border:0.02rem solid @nc;
                    }
                }
                img{
                    .db;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    margin: 0 auto;
                    border:0.02rem solid transparent;
                }
            }
        }
    }
}
.index-partner{
    background-repeat: no-repeat;
    background-size: cover;
    height: 5.77rem;
    background-attachment: fixed;
    .con-box{
        width: 14rem;
        margin: 0 auto;
        .pr;
        height: 100%;
        .news-box{
            .pa;
            width: 100%;
            left: 0;
            top:-5.1rem;
            z-index: 3;
            .title{
                .dfcc;
                em{
                    font-size:36px;
                    color: @nc;
                    margin-right: 0.12rem;
                    text-transform: uppercase;
                }
                span{
                    font-size: 30px;
                    color: @fc;
                }
            }
            .nav{
                .dfcc;
                margin: 0.2rem auto;
                li{
                    width: 1.5rem;
                    height: 0.4rem;
                    line-height: 0.4rem;
                    text-align: center;
                    font-size: 16px;
                    color: @fc;
                    border: 1px solid #ddd;
                    cursor: pointer;
                    &.on{
                        .bg(@nc);
                        color: @wc;
                    }
                }
            }
            .details{
                padding: 0 0.2rem;
                >li{
                    .dfcs;
                    .big-img{
                        width: 4.7rem;
                        height: 4.9rem;
                        border:1px solid #ddd;
                        .bg(@wc);
                        flex-shrink: 0;
                        img{
                            width: 4.3rem;
                            .db;
                            margin: 0.2rem auto 0.1rem;
                        }
                        p{
                            font-size: 16px;
                            line-height: 28px;
                            color: @mc;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            padding: 0 0.2rem;
                        }
                        h2{
                            font-size: 20px;
                            line-height: 36px;
                            .B;
                            color: @fc;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0 0.2rem;
                        }
                    }
                    .list{
                        li{
                            width: 8.7rem;
                            border:1px solid #ddd;
                            height: 1.5rem;
                            .bg(@wc);
                            margin-bottom: 0.2rem;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            &:hover{
                                border-color: @nc;
                                a{
                                    .time{
                                        .text{
                                            h2{
                                                color: @nc;
                                            }
                                            p{
                                                color: @nc;
                                            }
                                        }
                                        .date{
                                            &:before{
                                                .bg(@nc);
                                            }
                                            h2{
                                                color: @nc;
                                            }
                                            p{
                                                color: @nc;
                                            }
                                        }
                                    }
                                }
                            }
                            a{
                                .dfcs;
                                width: 100%;
                                height: 100%;
                                >img{
                                    width: 1.52rem;
                                    margin-right: 0.3rem;
                                    margin-left: 0.2rem;
                                    flex-shrink: 0;
                                }
                                .time{
                                    flex-grow: 1;
                                    .dfcs;
                                    .text{
                                        flex-grow: 1;
                                        min-width: 0;
                                        padding-right: 0.2rem;
                                        h2{
                                            font-size: 20px;
                                            line-height: 36px;
                                            .B;
                                            color: @fc;
                                            width: 100%;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }
                                        p{
                                            font-size: 16px;
                                            line-height: 28px;
                                            color: @mc;
                                            display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp:2;
                                            overflow: hidden;
                                        }
                                    }
                                    .date{
                                        width: 1rem;
                                        flex-shrink: 0;
                                        text-align: center;
                                        .pr;
                                        &:before{
                                            content:'';
                                            .bg(#ddd);
                                            width: 1px;
                                            height: 0.96rem;
                                            left: 0;
                                            top:0;
                                            .pa;
                                            z-index: 3;
                                        }
                                        h2{
                                            font-size: 34px;
                                            color: @sc;
                                            .B;
                                        }
                                        p{
                                            font-size: 16px;
                                            color: @sc;
                                            line-height: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .partner-box{
            .pa;
            width: 100%;
            left: 0;
            bottom: 0;
            z-index: 3;
            .dfcs;
            align-items: flex-end;
            .to{
                width: 4.42rem;
                height: 3.3rem;
                flex-shrink: 0;
                background-color: rgba(0,0,0,0.8);
                padding: 0.45rem 0.7rem 0 0.6rem;
                h2{
                    .dfc;
                    margin-bottom: 0.1rem;
                    em{
                        color: @nc;
                        font-size: 35px;
                        text-transform: uppercase;
                    }
                    span{
                        font-size: 30px;
                        color: @wc;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 32px;
                    color: @wc;
                }
                a{
                    width: 1.28rem;
                    height: 0.4rem;
                    text-align: center;
                    .db;
                    line-height: 0.4rem;
                    border:1px solid @wc;
                    font-size: 16px;
                    color: @wc;
                    margin-top: 0.5rem;
                    &:hover{
                        border-color: @nc;
                        .bg(@nc);
                        color: @wc;
                    }
                }
            }
            .parter{
                flex-grow: 1;
                min-width: 0;
                height: 3.3rem;
                padding: 0 0.56rem;
                .pr;
                .swiper-container{
                    padding-bottom: 0.7rem;
                    .swiper-slide{
                        margin-bottom: 0.25rem;
                        &:nth-child(2n+2){
                            margin-bottom: 0;
                        }
                        img{
                            width: 2.68rem;
                            height: 1.05rem;
                            .db;
                        }
                    }
                }
                .swiper-button-prev,.swiper-button-next{
                    margin-top: -60px;
                }
                .swiper-pagination-bullet{
                    .bg(@wc);
                    opacity: 1;
                }
                .swiper-pagination-bullet-active{
                    .bg(@nc);
                }
            }
        }
    }
}

.footer{
    background-size: cover;
    background-repeat: no-repeat;
    .con-box{
        width: 14rem;
        margin: 0 auto;
        .link{
            padding: 0.4rem 0;
            border-bottom: 1px solid #777;
            p{
                font-size: 16px;
                line-height: 32px;
                color: #000;
                a{
                    color: #000;
                    margin-right: 0.25rem;
                }
            }
        }
        .footer-nav{
            .dfcs;
            .address{
                .list{
                    .dfc;
                    padding: 0.3rem 0 0.35rem;
                    border-bottom: 1px solid #888;
                    li{
                        .dfc;
                        margin-right: 0.45rem;
                        border-right: 1px solid #888;
                        &:last-child{
                            margin-right: 0;
                        }
                        img{
                            width: 0.48rem;
                            height: 0.48rem;
                            margin-right: 0.08rem;
                        }
                        p{
                            font-size: 16px;
                            color: #000;
                            padding-right: 0.5rem;
                        }
                    }
                }
                .nav{
                    .dfc;
                    padding-top: 0.3rem;
                    padding-bottom: 0.45rem;
                    li{
                        margin-right: 0.12rem;
                        &:last-child{
                            a:after{
                                .dn;
                            }
                        }
                    }
                    a{
                        font-size: 16px;
                        color: #000;
                        line-height:30px;
                        &:hover{
                            color: @nc;
                        }
                        &:after{
                            content:'/';
                            margin-left: 0.12rem;
                        }
                    }
                }
            }
            .ewm{
                width: 1.33rem;
                margin-right: 0.95rem;
                img{
                    width: 1.33rem;
                    height: 1.33rem;
                    .db;
                }
                p{
                    font-size: 16px;
                    line-height: 30px;
                    color: @fc;
                    text-align: center;
                }
            }
        }
    }
    .copyright{
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
        font-size: 14px;
        color: #000;
        border-top:1px solid #888;
    }
}